body {
  text-align: center;
  color: #232323;
}

/* Structure */
.container {
  display: flex;
  position: relative;
  justify-content: center;
}

.card {
  position: relative;
  min-width: 340px;
  min-height: 400px;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dc6d28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.card:after {
  position: absolute;
  top: 30%;
  left: -15%;
  font-size: 10rem;
  font-weight: 800;
  font-style: italic;
}

.card__imgBox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 90%;
  height: 220px;
  transition: 0.5s;
}

.card:hover .card__imgBox {
  top: 0%;
  transform: translateY(0%);
}

.card__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  max-width: 220px;
}

.card__content {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.card:hover .card__content {
  height: 210px;
}

.card__title {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 2rem;
  margin: 0.5rem 0;
}

.card__p {
  margin: 0.5rem 0;
  padding: 0 1rem;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
  text-align: left;
}

.card:hover .card__p {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.card__btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
  cursor: pointer;
}

.card:hover .card__btn {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}

/* Skins */
.card--light {
  background: #ccc;
}

.card--dark {
  background: #232323;
}

.card--light:after {
  content: "Yoda";
  color: rgba(85, 85, 9, 0.224);
}

.card--dark:after {
  content: "Vader";
  color: rgba(255, 255, 25, 0.154);
}

.card__content--light {
  color: #232323;
}

.card__content--dark {
  color: #ccc;
}

.card__btn--light {
  background: #232323;
  color: #ccc;
}

.card__btn--dark {
  background: #ccc;
  color: #232323;
}
